<div class="container">
    <div class="log">
        <h2>Login</h2>

        <input class="form-control" type="text" placeholder="Email">
        <input class="form-control" type="text" placeholder="Password">
        <input class="form-control" id="btn" type="button" value="Login">
        <p>Don`t have an account? <span>SIGN UP</span></p>
    </div>

    <div class="picture">
        <img src="../../assets/anao-extreme-weather-BOM.jpg" width="600" height="450">
        <span class="text">Welcome Back!</span>
        <div class="under-line"></div>
    </div>
</div>
