<nav role="navigation">
  <div id="menuToggle">
  
    <input type="checkbox">
    
    <p>Weather</p>
    <h4>Today</h4>
    <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
      <a routerLink="/home" routerLinkActive="active" ><li>Home</li></a>
      <a routerLink='/search' routerLinkActive="active"><li>Add new City</li></a>
      <a routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><li>Logout</li></a>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

